<% include ./header %>

<div class="page-header">
    <h1><a href="/docs/">Medi App API</a></h1>
    <p class="lead">The following methods are available:</p>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <% Object.keys(model).forEach(function(method) { %>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#method_<%= method %>">
                        <b><%= method %></b>
                        -
                        <i><%= model[method]['root_type'] %>
                            <%= model[method]['field'] %></i>
                    </a>
                </h4>
            </div>
            <div id="method_<%= method %>" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <% if(model[method]['authorized']) {%>
                        <div>
                            <span class="label label-danger">Authorization Required</span>
                        </div>
                    <% } %>
                    <% if(model[method]['description']) {%>
                        <p><%= model[method]['description'] %></p>
                    <% } %>
                    <% if(model[method]['parameters']) {%>
                        <h4>Parameters</h4>
                        <table class="table">
                            <% for(var param in model[method]['parameters']) { %>
                                <tr>
                                    <td><%= param %></td>
                                    <td>
                                        <dl>
                                            <dt>Type</dt>
                                            <dd><%= param['type']%></dd>
                                            <% if(param['errors']) { %>
                                                <dt>Errors</dt>
                                                <% for (var type in param['errors']) {%>
                                                    <dd><%= type %></dd>
                                                <% } %>
                                            <% } %>
                                            <% if(param['default']) { %>
                                                <dt>Default</dt>
                                                <dd><%= param['default'] %></dd>
                                            <% } %>
                                            <% if(param['notes']) { %>
                                                <dt>Errors</dt>
                                                <% for (var note in param['notes']) { %>
                                                    <dd><%= note %></dd>
                                                <% } %>
                                            <% } %>
                                        </dl>
                                    </td>
                                </tr>
                            <% } %>
                        </table>
                    <% } %>
                    <% if(model[method]['errors']) { %>
                        <div class="alert alert-danger">
                            <h4>Route Errors</h4>
                            <ul>
                                <% for (var error in model[method]['errors']) { %>
                                    <li><%= error %></li>
                                <% } %>
                            </div>
                        <% } %>
                        <h4>Examples</h4>
                        <% for(var example in model[method]['examples']) { %>
                            <h5>
                                <u><%= example %></u>
                            </h5>
                            <% if(example['notes']) { %>
                                <% for(var note in example['notes']) { %>
                                    <p><%= note %></p>
                                <% } %>
                            <% } %>
                            <i>Request</i><br/>
                            <% if(example['request']) { %>
                                <% if(example['request']['headers']) { %>
                                    <small>
                                        <i>Headers</i>
                                    </small>
                                    <pre style="max-height:400px;overflow-y:scroll;">
                                          <div><%= JSON.stringify(example['request']['headers'], null, 2) %></div>
                                        </pre>
                                <% } else {%>
                                    <p>No request headers.</p>
                                <% } %>
                                <% if(example['request']['params']) { %>
                                    <small>
                                        <i>Params</i>
                                    </small>
                                    <pre style="max-height:400px;overflow-y:scroll;">
                                          <div><%= JSON.stringify(example['request']['params'], null, 2) %></div>
                                        </pre>
                                <% } else { %>
                                    <p>No request parameters.</p>
                                <% } %>
                                <small>
                                    <i>Body</i>
                                </small>
                                <% if(example['request']['body']) { %>
                                    <pre style="max-height:400px;overflow-y:scroll;">
                                          <div><%= JSON.stringify(example['request']['body'], null, 2) %></div>
                                        </pre>
                                <% } else { %>
                                    <p>No request body.</p>
                                <% } %>
                            <% } %>
                            <% if(example['response']) { %>
                                <i>Response</i><br/>
                                <div class="alert alert-<%= example['response']['data']['errors'] ? 'danger' : 'success' %>">
                                    <% if(example['response']['data']) { %>
                                        <pre style="max-height:400px;overflow-y:scroll;">
                                          <div><%= JSON.stringify(example['response']['data'], null, 2) %></div>
                                        </pre>
                                    <% } else { %>
                                        <p>No response data.</p>
                                    <% } %>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    <% include ./footer %>
